* {
  margin: 0;
  padding: 0;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.display,
.calculator {
  width: 390px;
}

.display {
  text-align: end;
  overflow-x: scroll;
  margin-bottom: 2px;
  scrollbar-width: thin;
}


button {
  width: 90px;
  text-align: center;
  border-radius: 20px;
  border-width: 0px;
}

.all-button-container {
  display: flex;
}

.all-button-container,
.digit-button-container,
.other-button-container,
.operator-button-container {
  gap: 2px;
}

.digit-button-container button,
.other-button-container button {
  flex-basis: 32%;
}

.other-button-container {
  margin-bottom: 2px;
}

.digit-button-container,
.other-button-container {
  display: flex;
  flex-wrap: wrap;

}

.left-container,
.operator-button-container {
  display: flex;
  flex-direction: column;
}

#equal-button {
  background-color: orange;
}
